* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Mono, FontAwesome;
    font-size: 13px;
}

/* W speed */

window#waybar {
    background-color: rgba(148, 0, 211, 0); /* disabled for now */
}

/* Left Modules */

#custom-rofi, #clock, #battery, #network, #wireplumber {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 4px solid rgb(95, 50, 163);
    color: white;
}